---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: coredns
  namespace: kube-system
spec:
  template:
    spec:
      containers:
        name: coredns
        image: rancher/mirrored-coredns-coredns:1.10.1
        resources:
          limits:
            memory: 600Mi
          requests:
            memory: 370Mi
...
