[auth]
disable_login_form = true
disable_signout_menu = true

[auth.basic]
enabled = true

[auth.anonymous]
enabled = true
org_name = Main Org.
org_role = Admin

[analytics]
check_for_updates = false

[grafana_net]
url = https://grafana.net

[log]
mode = console

[paths]
data = /var/lib/grafana/
logs = /var/log/grafana
plugins = /var/lib/grafana/plugins
provisioning = /etc/grafana/provisioning

[server]
domain = '{{ domain }}'
