---
apiVersion: {{ metallb_api }}
kind: IPAddressPool
metadata:
  name: {{ metallb_pool_name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
    - 10.20.0.{{ metallb_pool_first_host_id }}-10.20.0.{{ metallb_pool_last_host_id }}
---
apiVersion: {{ metallb_api }}
kind: L2Advertisement
metadata:
  name: empty
  namespace: {{ metallb_namespace }}
...
